.super-mario {
    width: 200px;
    position: absolute;
    left: 100px;
    z-index: 2;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 1;
  }
  
  .baloon {
    position: absolute;
    top: 400px;
    z-index: 3;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    top: 435px;
    left: 30px;
    z-index: 4;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 300px;
    top: 550px;
  }